#tiempossal_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    color: #011111;
    border-radius: 4px;
}
#masa_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: #020202f8;
    border-radius: 4px;
    
}
#cp_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: #020202f8;
    border-radius: 4px;
    
}
#tiempossal2_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    color: #011111;
    border-radius: 4px;
}

#display_txt{
    font-family: Arial;
    font-weight: bold;
    text-align:left;
    font-size: 15px;
    color: #020202f8;
    border-radius: 4px;
}



#TA_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: #020202f8;
    border-radius: 4px;
}
#sulfurico_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: #020202f8;
    border-radius: 4px;
    
}#aguita_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: #020202f8;
    border-radius: 4px;
}
#sulfurico2_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: #020202f8;
    border-radius: 4px;
}#aguita2_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: #020202f8;
    border-radius: 4px;
}
#sulfurico3_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: #020202f8;
    border-radius: 4px;
}#aguita3_txt{
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: #020202f8;
    border-radius: 4px;
}
